header {
  z-index: 10;
}

header .logo a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: -15px 5px 20px #1969e0;
  letter-spacing: 0.1em;
  color: #146ac0;
  text-shadow: 1px 1px 0px #ca8320, 2px 2px 0px #ffd662, 3px 3px 0px #ff80bf, 4px 4px 0px #ef5097, 5px 5px 0px #6868ac, 6px 6px 0px #90b1e0;
}

input:focus {
  outline: none;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}

.loader {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

.load-popup {
  animation: load-popup 0.5s ease-in-out;
}

@keyframes load-popup {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

.out-carts {
  animation: delete-cart 0.5s ease-in-out;
  background-color: red;
}

@keyframes delete-cart {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
